asgiref==3.8.1
certifi==2024.2.2
channels==4.1.0
charset-normalizer==3.3.2
Django==5.0.4
django-comment-migrate==0.1.7
django-cors-headers==4.3.1
django-filter==24.2
django-ranged-response==0.2.0
django-restql==0.15.4
django-simple-captcha==0.6.0
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.7
et-xmlfile==1.1.0
idna==3.7
inflection==0.5.1
mysqlclient==2.2.4
openpyxl==3.1.2
packaging==24.0
pillow==10.3.0
PyJWT==2.8.0
pyPEG2==2.15.2
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
setuptools==69.2.0
six==1.16.0
sqlparse==0.4.4
ua-parser==0.18.0
uritemplate==4.1.1
urllib3==2.2.1
user-agents==2.2.0
whitenoise==6.6.0
